// Define variables for your color scheme

// For example:
$red: #C93B2D;
$blue: #27285C;
$blue-light: #314373;
$blue-lighter: #49A8F9;
$blue-bg: #273469;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
