<div class="container">
  <h1>Challenge Triathlon 2020</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to leagues_path, class: "btn btn-primary" do %>
        Liste des leagues de Triathlon
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="btn btn-primary">
        Autre
      </div>
    </div>
  </div>
</div>

